/* .popup__form {
  position: relative;
  display: flex;
  flex-direction: column;
} */

.popup__submit {
  display: block;
  width: 358px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #fff;
  background-color: #000;
  align-self: center;
  transition: background-color 0.3s linear;
}

.popup__submit_disable {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  opacity: 0.2;
  cursor: none;
  pointer-events: none;
}

.popup__submit_loading {
  /* background-image: url(../../image/load.gif); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px 80px;
}

.login__button {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.login__button_disable {
  color: #000;
  border: 1px solid #000;
  opacity: 0.5;
  cursor: none;
  pointer-events: none;
}

.login__button_loading {
  /* background-image: url(../../image/load.gif); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px 80px;
}
