.popup__container {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  position: relative;
}

@media screen and (max-width: 619px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}
