.profile__add-button {
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  text-align: center;
  background-color: black;
}

@media screen and (max-width: 619px) {
  .profile__add-button {
    width: 100%;
    min-height: 50px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
