.popup__submit-btn {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
  background: #000000;
  width: 358px;
  height: 50px;

  position: absolute;
  border-radius: 2px;
  bottom: 36px;
  left: 36px;
}

@media screen and (max-width: 619px) {
  .popup__submit-btn {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    bottom: 25px;
    left: 22px;
  }
}

.popup__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
